@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
:root{
  --button-bg-color:#48BAEB; 
  --primary-text-color:#475467;
  --primary-background-color:#48BAEB;
  --sliver-background:#f8f8f8;
  --social-media:#dbecff;
}

body, html, #root {
    height: 100%;
    margin: 0; 
    font-family: "Poppins", Sans-serif;
}

.elementor-icon-list-icon{
  display: none !important;
}

.e-parent:first-child{
  display: flex;
  flex-direction: row !important; 
  gap: 10px;
  margin-block: 20px !important; 
} 


.e-parent:first-child:nth-child(1){
  background-color: #FAF9F9 !important;
}


.e-parent:first-child ul{
  display: flex;  
  list-style-type: none;  
  margin: 0;
  padding: 0;
} 
.e-parent:first-child ul>li:nth-child(1){
  display: flex;  
  list-style-type: none;  
  border-right: 2px solid; 
  padding-right: 2px !important;
} 

.e-parent:first-child ul>li:nth-child(2){
  display: flex;  
  list-style-type: none;  
  padding-left: 2px !important;
}
.app-layout { 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    padding-top:6rem;
}
.header { 
    background-color: #fff;
    flex: 0 0 auto;
}
  
.main-content {
  flex: 1 0 auto;
}
  
.footer {
  background-color: #ECEDF4;
  flex: 0 0 auto;
}


.tab_container>ul{ 
  margin: auto;
  width: 40% !important; 
  border: none;
}
.tab_container ul li{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ;
  padding: 10px;
}


.work_tab>li>button{
  color: black ; 
  font-size: 1.75rem;
}
.work_tab .active{
  background-color: var(--primary-background-color) !important;
  color: white !important; 
  border-radius: 0 !important; 
  border: none !important;
} 

.app_tab_container{
  border: none;
} 



.app_tab>li>button{
  color: #2D2D2D;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 42px;
  letter-spacing: 0.5px;
} 

.app_tab>li>button:hover{
 color: #6EC1E4 ;
 border: none ;
} 


 


.app_tab li .active{ 
    color: #6EC1E4 !important;
    background: #00000000 !important;
    border-style: solid !important;
    border-width: 0px 0px 4px 0px !important;
    border-color: #6EC1E4 !important;
}
 
/* utility */
.btn-primary,.btn-secondary{ 
  background-color: var(--button-bg-color) !important;
  padding: 15px;
  border-radius: 5px;
  font-weight: 100;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 20px;
  text-decoration: none;
  color: white;
}
.btn-secondary{
  text-transform: none;
}
 

.btn-primary:hover{
  background-color: #000 !important;
}

.org{
  color: rgba(255, 120, 83, 1);
}


/* header Section*/

.menu{
  background-color: var(--button-bg-color) !important;
}

.menu .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.55)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-nav a{ 
  color: #000;
  font-size: 18px;
  font-weight: 400 !important;
}


.navbar-nav  .active{
  color:var(--primary-background-color);
  text-transform: none;
}

.nav-link{
  padding: 0 !important;
}


.offcanvas{
  width: 315px !important;
}

/* Slider Section */


.service_slider .carousel-control-prev, .service_slider .carousel-control-next{
  width: 30px !important;
}
.service_slider .carousel-control-prev-icon{
   color: orange !important;
  background-image: url('left.png') !important;
}

.service_slider .carousel-control-next-icon{
  background-image: url('next.png') !important
}

.service_list{
  list-style-type:none;
} 

.consult_list{
  font-size: 18px;
  line-height: 22px;
  color: #54595F !important;
  font-weight: 500;
}
.consult_list::before{
  content: "\2713";
  padding: 1px 2px;
  margin-right: 10px;
  color:var(--primary-background-color);
  font-size: 22px;
  font-weight: bolder;
   
}
.service_list_item::before{
  content: "\2713"; /* Check Mark (✔) */
  margin-right: 6px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  padding: 1px 2px;
}
.service_list_text{
  color: #2D2D2D;
} 

.service_slider_button{
  border-radius: 30px !important;
  text-transform: none;
}
.service_slider_button:hover{
  background-color:var(--button-bg-color) !important;
}

.slider-image{
  max-width: 100%; 
  height: 50vh;
}

/* client Section */

.client_container{
    background-color: transparent;
    background-image: linear-gradient(-90deg, #B0CFF2 0%, #48BAEB 100%);
    border-radius: 10px;
}



/* Solution Section */

.solution_container{
  background-image: url('offerBack.webp');
  background-repeat: no-repeat;
  background-size: contain; 
}

/* Contact Us  */ 


.common_contact{
  background-size: cover;
  background-repeat: no-repeat;
}

/* we-offer-container */


.we-offer-container{
  background-color: var(--sliver-background);
}


/* Service Flow Section */ 
.service_flow{
  background-color: var(--sliver-background);
}

.service_content{
 max-height: 700px !important; 
  overflow-y:auto;
}  
.service_content::-webkit-scrollbar{
  display: none;
}

.service_icon{ 
  position: relative;
}
.service_icon::before{ 
  position: absolute !important;
  border: 1px solid black dotted !important; 
} 

/* Type Section */


.type_img{
  transition: transform 0.4s ease;


} 

.type_card:hover .type_img{
  transform: scale(1.04); 
} 






/* About Us */



.hero_container{ 
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding:80px; 
  background-color:rgba(0, 0, 0, 0.4);
  background-blend-mode:multiply;

} 

 /* Digital Section */ 

.digital_social{
  background-color: var(--social-media);
 } 

.digital_marketing{
  background-color: var(--sliver-background);
}

/* Order Section*/

.order_card{
 
  transition: all 0.3ms ease-in-out;
} 

.order_para{
  color: #585858;

}  
 


.order_card:hover{
    background-image: linear-gradient(180deg, #48BAEB 0%, #7B2BFFCC 100%) !important;
    border-radius: 10px !important;
}
.order_card:hover .order_para{
  color: white !important;
}


 
/* description_container */ 


.description_container{
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

/* Mobile Development  */ 

.app_process_container{
  background-image: url('app.webp');
}

/* Graphic Design Section */ 

.img_graphic:hover{
    animation-name: skew-animation-effect;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}


@keyframes skew-animation-effect {
  16.65% {
    transform: skew(-12deg);
}
33.3% {
  transform: skew(10deg);
}
49.95% {
  transform: skew(-6deg);
}
66.6% {
  transform: skew(4deg);
}
83.25% {
  transform: skew(-2deg);
}
100% {
  transform: skew(0);
}
}
/* Blog */

.blog_img{
  width: 100%;  
  height: 100%; 
  object-fit: cover;
}



/* Footer Section */

.icon{
  background-color: var(--button-bg-color);
  padding:5px 8px;
  border-radius: 5px;
  color: white;
} 


.footer-link{
  color: var(--primary-text-color);
  transition: color 0.3s;
}

.footer-link:hover{
  color:var(--button-bg-color);
}



.box {
  position: relative;
  height:400px;
  border-radius: 4px;
  overflow: hidden;
}

.box img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
}

.zoom-in h2 {
  top: 15%;
  transform: translateY(-50%);
  margin: 0;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
  position: absolute;
  color: #fff;
  z-index: 999;
  width: 100%;
  transition: opacity 0.2s, transform 0.3s;
}
.zoom-in a{
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 20px;
  padding: 5px 20px; 
  transition: all .3s ease;
  opacity: 0;
}
.zoom-in p {
  text-align: start;
  top: calc(20% + 40px);
  transition: all .3s ease;
  transform: scale(1.8);
  opacity: 0;
  position: absolute;
  color: #fff;
  z-index: 2;
  width: 100%;
  font-size: 18px;
  letter-spacing: 1px; 
  padding: 10px;
}

.zoom-in:hover img {
  transform: scale(1.1);
  filter: blur(8px); 
}

.zoom-in:hover p {
  transform: scale(1);
  transition: all .3s ease;
  opacity: 1;
}


.zoom-in:hover a {
  transition: all .3s ease;
  opacity: 1; 
}

/* Contact Page */
.form_element{
  /* background: white !important; */
  color: #989898 !important;
}
.form_element::placeholder{
  color: #989898;
}




/* media Queries */



/* @media only screen and (max-width:992px) {
  .navbar-nav a{ 
    font-weight: 500 !important;
  }
} 
@media only screen and (min-width:768px){
  .slider-image{
    height: 50vh;
  }
}
@media only screen and (min-width:992px){
  .slider-image{
    height: 70vh;
  }
} */

/* max-width means < */ 

/* min-width means >= */
 /* For screen widths less than 768px (default styles) */
 


/*medium  */
/* For screen widths between 768px and 991px */ 

@media only screen and (max-width:992px){
  .tab_container>ul{
    width: 100% !important;
  }
  .navbar-nav a {
    font-weight: 500 !important  ; /* Default font weight for larger screens */
  }

  .common_contact{   
    background-position:center;
  }

  .description_container{
   background-position: top left; 
   background-size: 100% 100%;
  }
  

  .hero_container{
    padding:1.5rem;
  }  
  
   
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .slider-image {
    height: 50vh;
  } 
}

@media only screen and (max-width:1200px) {
  
.e-parent:first-child img{
  max-width: 100%;
  height: auto;
}

.e-parent:first-child{
  display: flex;
  flex-direction:column !important ; 
  gap: 10px;
  margin-block: 20px !important; 
}

} 
 
@media screen and (max-width:767px) {
  .app_tab{ 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }  
  .app_tab>li{
    width:100%;
  }
}
/* larger Devices */
/* For screen widths of 992px and above */
@media only screen and (min-width: 992px) {

  .slider-image {
    height: 70vh;
  } 
  .order_card{
    width: 20rem !important;
    height: 18rem !important;
  } 
  
} 
@media only screen and (min-width:1200px) {
  .blog_img{
    width:300px ; 
    height: 100%;
  }  

}


